<script language="javascript">
   function showLink(li) {
      var link  = li.getElementsByTagName('div')[0];
      link.className = 'link';
   }

   function hideLink(li) {
      var link  = li.getElementsByTagName('div')[0];
      link.className = 'hiddenLink';
   }
   
</script>

<div class="nav">
  <ul>
    <li><a href="/user/<%= @user_id %>/new">New Event</a></li>
    <li><a href="#">Global Statistics</a></li>
    <li><a style="background-image: none;" href="#">Logout</a></li>
  </ul>
</div>
<h3 class="main-menu">Event list</h3>
<label class="main-menu"> Select an event to see the link to share it!</label>
<br/>
<br/>

<ul class="main-menu">
  <% @list.each do | event | %>

     <li onmouseover="javascript:showLink(this);" onmouseout="javascript:hideLink(this);">
       <label> <%= event.name%> at <%= event.date.strftime('%b %d, %Y')%> </label>
       <div class="hiddenLink" id="linkField">
         <a href="/event/<%= event.id %>/rate"><span>Share Link</span></a>
       </div>
     </li>

  <%end%>
</ul>
