<form class="middle-form" method="post" action="login">
  <table>
    <caption><h2>Log in with your account</h2></caption>
    <!--<tr>
      <td></td>
      <td>Posible feedback</td>
    </tr>-->
    <tr>
      <td>Username: </td>
      <td><input name="username" type="text" required="required" /></td>
    </tr>
    <tr>
      <td>
        <br/>
        Password: 
        <br/>
        <label class="register-label"><a href="javascript:openRecoverForm()">Forgot your password?</a></label>
      </td>
      <td><input name="password" type="password" required="required"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input class="button" type="submit" value="Login"/><label class="register-label"> Don't you have an account? <a href="/sign">Register here!</a></label></td>
    </tr>
    <tr>
      <td></td>
      <td><a href='/auth/twitter' title = "Log in with your twitter account">Log in with Twitter</a></td>
    </tr>
  </table>
</form>

<div id="recover-form" />

<script type="text/javascript">

  function createAjaxRequest() {
    if (typeof XMLHttpRequest != "undefined") {
      return new XMLHttpRequest();
    }
    else if (window.ActiveXObject) {
      return new ActiveXObject("Microsoft.XMLHTTP");
    }
  }

  var ajaxRequest = createAjaxRequest();

  function openRecoverForm() {
    ajaxRequest.open("GET", "/recover", true);
    ajaxRequest.onreadystatechange = showForm;
    ajaxRequest.send(null);
  }

  function showForm() {
    if (ajaxRequest.readyState == 4) {
      if (ajaxRequest.status == 200) {
        document.getElementById("recover-form").innerHTML = ajaxRequest.responseText;
      }
      else {
        alert("No se pudo abrir el formulario " + "\n" +
                 "Por un error: " + ajaxRequest.status + ajaxRequest.statusText);
      }
    }
  }

</script>
