<form class="middle-form" method="post" action="recover">
  <table>
    <caption><h2>Recover form</h2></caption>
    <tr>
      <td>Your email: </td>
      <td><input name="email" type="text" required="required" /></td>
    </tr>
    <tr>
      <td></td>
      <td><input class="button" type="submit" value="Send pass"/></td>
    </tr>
  </table>
</form>
